{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Health
{% endblock title %}


{% block content %}
<h1> Все новости Здравоохранения </h1>
<hr>

{% if SelCatPosts %}
    <table>
        <tr>
            <td>Название</td>
            <td>Дата публикации</td>
            <td>Превью</td>
        </tr>
{% for n in SelCatPosts %}
        {% for cat in n.post_cat.all %}
        {% if cat.id == 3 %}

            <tr>
                <td>{{ n.post_name|censor }}</td>
                <td>{{ n.time_in|date:'d M Y' }}</td>
                <td>{{ n.post_text|truncatechars:20|censor}}</td>

            </tr>
{% endif %}
    {% endfor %}
        {% endfor %}

</table>

{% endif %}

<div class="container">
<button> <a href="http://127.0.0.1:8000/categories/health/subscribe"> Подписаться на новости категории </a> </button>
</div>



{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}