<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
All News
{% endblock title %}


{% block content %}
<h1> Все новости </h1>
<h5> Количество новостей: {{ news|length }}</h5>

<hr>

{% if news %}
       <table>
           <tr>
               <td>Название</td>
               <td>Дата публикации</td>
               <td>Превью</td>


           </tr>

           {% for n in news %}
           <tr>

               <td>{{ n.post_name|censor }}</td>
               <td>{{ n.time_in|date:'d M Y' }}</td>
               <td>{{ n.post_text|truncatechars:20|censor}}</td>

           </tr>
           {% endfor %}

       </table>
{% else %}
<h4> Новостей нет! </h4>
{% endif %}

{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}