{% extends "flatpages/default.html" %}

{% block title %} Simple SignUp/SignIn app {% endblock title %}
<div>
    <h1><a href="sign/login/">Simple SignUp/SignIn app</a></h1>
</div>
{% block content %}
<h2> Войти в систему </h2>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Войти">
</form>
<button> <a href="/sign/signup"> Регистрация </a></button>
{% endblock %}